<div class='row'>
  <div class='span4 offset4'>
    <fieldset>

      <%= form_for @user, builder: BootStrapFormBuilder, html: { class: 'form-horizontal' } do |f| %>
        <legend><%= t('users.edit_form') %></legend>

        <%= render partial: 'form', object: f %>

        <div class='form-actions'>
          <%= f.submit t('base.update'), class: 'btn btn-primary btn-large' %>
          <%= link_to t('base.cancel'), user_path(@user), class: 'btn' %>
        </div>
      <% end %>

    </fieldset>
  </div>
</div>

