<div id='registration-form'>
  <fieldset>
    <legend>
      <h1><%= t('users.registration_form') %></h1>
    </legend>

    <%= separator %>

    <%= form_for @user do |f| %>
      <%= render partial: 'form', object: f %>

      <%= separator %>

      <p><%= f.submit t('base.submit') %></p>
    <% end %>
  </fieldset>
</div>
