<%= form_tag user_sessions_url do %>
  <p>
    <%= label :user_session, :email %><br />
    <%= text_field :user_session, :email %>
  </p>
  <p>
    <%= label :user_session, :password %><br />
    <%= password_field :user_session, :password %>
  </p>

  <hr noshade color='#CCC' />

  <p>
    <%= check_box :user_session, :remember_me, checked: true %>
    <%= label :user_session, :remember_me %>
    <%= link_to t(:register), signup_path, class: 'signin-dropdown-register' %>
  </p>

  <p>
    <%= submit_tag t(:sign_in), class: 'signin-dropdown-submit' %>
  </p>
<% end %>
