<p>
  <%= f.label :name , t('devices.name') %><br />
  <%= f.text_field :name %><br />
  <%= f.error_message_on :name, html_tag: 'span' %>
</p>

<p>
  <%= f.label :number, t('devices.number') %><br />
  <%= f.text_field :number, size: 30 %><br />
  <%= f.error_message_on :number, html_tag: 'span' %>
</p>
