<%= form_for @device, url: admin_device_path(@device) do |f| %>
  <fieldset class='css-admin'>
    <legend><h2><%= t('devices.edit_device') %></h2></legend>

    <%= render partial: 'form', locals: { f: f } %>
  </fieldset>

  <div class='css-submit'>
    <%= f.submit t('base.update') %>
    <%= t('base.or') %>
    <%= link_to t('base.cancel'), admin_devices_path %>
  </div>
<% end %>
