<%= f.email_field :email %>

<%= f.password_field :password %>

<%= f.password_field :password_confirmation %>

<div class='control-group'>
  <%= f.label :roles, t('admin.users.available_roles'), class: 'control-label' %>
  <div class='controls well'>
    <%= available_user_roles(@roles, f.object.role_ids) %>
  </div>
</div>
