<div class='row'>
  <div class='span12 page-header'>
    <h1><%= t('admin.users.edit_user') %></h1>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <%= form_for @user, url: admin_user_path(@user), builder: BootStrapFormBuilder, html: { class: 'form-horizontal' } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <div class='row'>
        <div class='span12'>
          <div class='form-actions'>
            <%= f.submit t('base.update'), class: 'btn btn-primary btn-large' %>
            <%= link_to t('base.cancel'), admin_users_path, class: 'btn' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :bottom_modals do %>
  <%= render partial: 'admin/users/modal_search_device/modal' %>
<% end %>
