<%= form_for @user, url: admin_user_path(@user) do |f| %>
  <fieldset class='css-admin'>
    <legend><h2><%= t('users.edit_user') %></h2></legend>

    <%= render partial: 'form', locals: { f: f } %>
  </fieldset>

  <div class='css-submit'>
    <%= f.submit t('base.update') %>
    <%= t('base.or') %>
    <%= link_to t('base.cancel'), admin_users_path %>
  </div>
<% end %>
