<div class='row'>
  <div class='span12 page-header'>
    <h1>
      <%= t('admin.users.all_users') %> <small>There are all users on our database.</small>
      <%= link_to t('admin.users.add_new_user'), new_admin_user_path, class: 'pull-right btn btn-success btn-small' %>
    </h1>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <%= info_messages(close_button: true) %>

    <table class='table table-striped'>
      <thead>
        <tr>
          <th><%= t('admin.users.email') %></th>
          <th><%= t('admin.users.last_login_at') %></th>
          <th><%= t('admin.users.created_at') %></th>
          <th>Device Number</th>
          <th><%= t('admin.base.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, admin_user_path(user) %></td>
            <td><%= user.last_login_at %></td>
            <td><%= user.created_at %></td>
            <td><%= user.device.try(:number) %></td>
            <td class='js-actions'>
              <%= link_to t('admin.base.edit'), edit_admin_user_path(user), class: 'btn btn-warning btn-mini' %>
              <%= link_to t('admin.base.delete'), admin_user_path(user), method: :delete, class: 'btn btn-danger btn-mini js-destroy' %>
            </td>
          </tr>
        <% end %>

        <% if @users.empty? %>
          <tr><td colspan='5'><%= t('admin.users.not_found') %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
