<div id='registration-form' class='css-signin'>
  <fieldset>
    <legend>
      <h1><%= t('top_bar.sign_in') %></h1>
    </legend>

    <%= form_notice(:error) %>

    <%= form_for @user_session, url: user_sessions_path do |f| %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>

      <%= separator %>

      <p>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= link_to t('top_bar.register'), signup_path, class: 'css-register' %>
      </p>

      <%= separator %>

      <p>
        <%= f.submit t('top_bar.sign_in') %>
      </p>
    <% end %>
  </fieldset>
</div>
