<div id='registration-form' class='signin'>
  <fieldset>
    <legend>
      <h1><%= t(:sign_in) %></h1>
    </legend>

    <% if flash[:error] %>
      <div class='separator error'></div>
      <p class='error'>
        <%= flash[:error] %>
      </p>
      <div class='separator error'></div>
    <% else %>
      <div class='separator'></div>
    <% end %>

    <%= form_for @user_session, url: user_sessions_path do |f| %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>

      <div class='separator'></div>

      <p>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= link_to t(:register), signup_path, class: 'registration-form-register' %>
      </p>

      <div class='separator'></div>

      <p>
        <%= f.submit t(:sign_in) %>
      </p>
    <% end %>
  </fieldset>
</div>
