<div class='row'>
  <div class='span4 offset4'>
    <fieldset>

      <%= form_for @user_session, url: user_sessions_path, builder: BootStrapFormBuilder, html: { class: 'form-horizontal' } do |f| %>
        <legend><%= t('user_session.sign_in_message') %></legend>

        <%= info_messages %>

        <%= f.email_field :email, error: false %>

        <%= f.password_field :password, error: false %>

        <%= f.check_box :remember_me, label: t('user_session.remember_me_message') %>

        <div class='form-actions'>
          <%= f.submit t('navbar.sign_in'), class: 'btn btn-primary btn-large' %>
        </div>
      <% end %>

    </fieldset>
  </div>
</div>
