<!DOCTYPE html>
<html>
  <head>
    <title><%= t('base.site_title') %></title>
    <%= stylesheet_link_tag 'admin/application' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Podkova' %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= javascript_include_tag 'admin/application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='head_inline_javascripts'>
      <%= yield :head_inline_javascripts %>
    </div>

    <%= render 'admin/shared/top_bar' %>

    <%= yield %>
  </body>
</html>
